/*
Theme Name: Mark Stevenson
Theme URI: http://www.browntowel.com
Description: Custom WordPress theme.
Author: Me
Author URI: http://www.browntowel.com
*/

@import 'css/skeleton.css';


/* #Basic Styles
================================================== */

html{ font-size: 62.5%; }

body {
  margin: 0;
  line-height: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #2e2e2e;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -ms-text-size-adjust: 100%;
}

section.wrap{
	float: left;
	width: 100%;
	padding: 60px 0; padding: 6rem 0;
	background: #fff;
}

a#scroll-top{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 36px;
}

a#scroll-top img{
	display: block;
}

#simple-menu{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 20px;
	z-index: 100;
}



/* #Typography
================================================== */

h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { font-weight: 300; }
h1 { font-size: 36px; font-size: 3.6rem; }
h2 { font-size: 30px; font-size: 3rem; }
h3 { font-size: 24px; font-size: 2.4rem; }
h4 { font-size: 21px; font-size: 2.1rem; }
h5, h6 { font-size: 16px; font-size: 1.6rem; }

.hentry h1, .hentry h2, .hentry h3, .hentry h4, .hentry h5, .hentry h6{ }

h1, h2, h3, h4, h5, h6{
  margin: 0 0 20px;
  margin: 0 0 2rem;
  line-height: 1.2em;
}

p { margin: 0 0 20px 0; margin: 0 0 2rem 0; }
p img { margin: 0; }

.center{
	text-align: center;
}

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

hr { border: solid #2e2e2e; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

blockquote{
	clear: both;
	margin: 36px 0;
}

blockquote, blockquote p{
	line-height: 1.3em;
	text-align: center;
	font-family: "proxima-nova-extra-condensed";
	font-size: 36px; font-size: 3.6rem;
}

blockquote p{
	margin-bottom: 10px;
}

cite{
	display: block;
	clear: both;
	text-transform: uppercase;
	font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px; font-size: 1.8rem;
}


/* #Links
================================================== */

a:link, a:visited{
  	color: #5795ab;
  	text-decoration: none;
}

a:hover{
  	color: #6fc8e7;
}

a:focus{
 	color: #6fc8e7;
  	outline: none;
}

a:active{
  	color: #6fc8e7;
}

a:active, a:hover{
  	outline: 0;
}

a img{
	border: none;
}


/* #Buttons
================================================== */

.button{
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
	background: #5795ab;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.button[class]{
}

.button:hover{
    text-decoration: none;
	background: #6fc8e7;
}

.button.comment-button{
    padding: 12px 18px;
}

a.button:link, a.button:visited, a.button:hover, a.button:focus, a.button:active{
	color: #fff;
}


/* #Lists
================================================== */
	ul, ol { margin-bottom: 16px; margin-bottom: 1.6rem; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 32px; margin-left: 3.2rem; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 16px 0 16px 20px; margin: 1.6rem 0 1.6rem 2rem;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; line-height: 1.8rem; margin-bottom: 12px; margin-bottom: 0.2rem; }
	ul.large li { line-height: 21px; line-height: 2.1rem; }
	li p { line-height: 21px; line-height: 2.1rem; }


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		outline: none;
		color: #777;
		margin: 0;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		font-family: inherit;
	    font-size: 18px;
	    letter-spacing: normal;
	    outline-style: none;
	    padding: 5px;
	    border-radius: 4px;
		background: #fcfcfc;
		}
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		padding: 3px;
		border: 1px solid #aaa;
 		color: #2e2e2e;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-size: 14px;
		margin-bottom: 10px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #ddd; }

.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"]{
	font-size: 16px !important;
}

.gform_wrapper input[type="submit"]{
	font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-appearance: none;
}


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	img, video{ max-width: 100% !important; }
	.center{ text-align: center; }



/* #Sidebar
================================================== */

#sidebar{
	margin-top: 10px;
}

.widget{
	margin-bottom: 40px;
	padding-top: 15px;
	line-height: 1.25em;
	font-size: 13px;
	border-top: 1px solid #0a91d1;
}

.widget p{
	margin-bottom: 10px;
}

.widget a.more-link{
	font-size: 13px;
}



/* #Footer
================================================== */

footer{
	padding: 30px 0 10px;
	font-size: 12px;
}

footer ul{
	margin: 0;
	padding: 0;
}

footer p{
	margin-bottom: 0;
	color: #ddd;
}

#footer-nav{
	text-align: right;
}

#footer-nav ul li{
	display: inline;
	margin: 0 8px;
}

#footer-nav ul li:before { content:"\00b7"; margin-right: 16px;}
#footer-nav ul li:first-child:before { content:"";  }
#footer-nav ul li:first-child{ margin-left: 0; }

#footer-nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #ddd;
}


/* #Archives
================================================== */

.index h1{
	margin-bottom: 30px;
}

.index article{
	margin: 20px 0 40px;
}

.index h2{
	margin-bottom: 5px;
	font-weight: bold;
}

.post-date{
	margin: 0 auto 10px;
	font-size: 13px;
	color: #aaa;
}

.index article p{
}

#custom-pagenavi{
	float: left;
	clear: left;
	width: 100%;
	margin: 40px 0 0;
}

ul.pagination{
	text-align: center;
}

ul.pagination li{
	display: inline;
	margin: 0 5px;
}

ul.pagination li a:link, ul.pagination li a:visited, ul.pagination li a:focus, ul.pagination li a:active{
	display: inline-block;
	height: 25px;
	width: 30px;
	padding-top: 5px;
	text-decoration: none;
	font-weight: normal;
	background: #0a91d1;
	color: #fff;
	border-radius: 3px;
}

ul.pagination li a:hover{
	background: #000;
	color: #fff;
}

ul.pagination li.current a{
	background: #333;
	color: #fff;
}

ul.pagination li.current a:hover{
	background: #000;
	color: #fff;
}


/* #Single Post
================================================== */

.postmetadata{
	font-size: 13px;
	color: #aaa;
}

.hentry ul{
	margin: 20px;
}

.hentry ul li{
	list-style-type: disc;
	list-style-position: inside;
}


/* #Comments
================================================== */

#comments-list{
	margin: 30px 0;
}

#comments-list ul{
	padding: 0;
}

#comments-list h2{
	margin-bottom: 30px;
}

#comments-list li{
	margin: 0 0 50px;
	padding: 0 0 0 0;
	list-style: none;
}

#comments-list li .avatar{
	border-radius: 50px;
}

#comments-list li .comment-author.vcard{
	margin-top: 10px;
}

#comments-list li .fn{
	position: relative;
	top: -24px;
	left: 10px;
	font-size: 14px;
}

#comments-list li .comment-content{
	margin-top: 5px;
	font-size: 13px;
}

#comments-list li .comment-content p{
	margin-bottom: 10px;
}

#comments-list li .comment-meta{
	margin-top: 5px;
	font-size: 13px;
	color: #aaa;
}

#comments-list li ul.children{
	margin: 10px 0 0 32px;
	padding: 0;
}

#comments-list li ul li{
	border: 0;
	overflow: auto;
}

#comments-list li.bypostauthor{
	padding-left: 32px;
}

#comments-list li.bypostauthor .avatar{
}



/* #WordPress Images
================================================== */

.gallery .gallery-item img{
	border:none !important;
}

.alignnone { margin: 5px 20px 20px 0 }
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone { margin: 5px 20px 20px 0 }
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: 8px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone { margin: 5px 20px 20px 0 }
.wp-caption.alignleft { margin: 5px 20px 20px 0 }
.wp-caption.alignright { margin: 5px 0 20px 20px }
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	padding: 5px 4px;
}


/* #Templates
================================================== */

/* #Frontpage
================================================== */


h2.section-title{
	display: inline-block;
	padding: 7px 10px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px; font-size: 1.8rem;
	border: 1px solid #2e2e2e;
}

section#front-strapline{
	padding: 0;
}

section#front-strapline h1{
	max-width: 860px;
	margin: 0 auto;
	padding: 0 30px;
	text-align: center;
	font-size: 32px;
}

section#front-intro{
	position: relative;
	min-height: 400px;
	padding-top: 0;
}

section#front-intro .container{
	position: relative;
}

section#front-intro blockquote{
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	top: 270px;
	color: #fff;
}

section#front-intro blockquote p{
	line-height: 1em;
	margin-bottom: -10px;
	font-size: 24px;
}

section#front-intro #intro-diagonal{
	position: absolute;
	bottom: -1px;
}

section#front-writer{
	position: relative;
	padding: 50px 0 0; padding: 5rem 0 0;
}

section#front-writer #writer-text p:first-child::first-letter{
	background: #2e2e2e;
	color:#fff;
	font-size: 32px;
	font-weight:normal;
	font-weight: 300;
	float:left;
	height:45px;
	line-height:1.5;
	line-height:1.5\9;
	*line-height:1.5;
	_line-height:1.5;
	margin:5px 10px 0 0;
	text-align:center;
	width:45px;
}

body.gecko section#front-writer #writer-text p:first-child::first-letter{
	padding: 15px;
}

section#front-twitter{
	position: relative;
	padding: 50px 0 50px;
	background: #00b7ef;
	color: #fff;
}

section#front-twitter h2.section-title{
	border: 1px solid #fff;
}

section#front-twitter a:link, section#front-twitter a:visited, section#front-twitter a:hover, section#front-twitter a:focus, section#front-twitter a:active{
	color: #fff;
	text-decoration: underline;
}

section#front-twitter #display-tweet{
	margin: 30px 0;
	line-height: 1.2em;
	/* font-size: 30px;
	font-weight: 300; */
}

section#front-twitter #display-tweet .muted{
	display: none;
}

section#front-twitter #follow-button{
	clear: both;
	width: 100%;
	position: relative;
	z-index: 200;
}


section#front-twitter #twitter-top{
	position: absolute;
	top: -1px;
}

section#front-twitter #twitter-bottom{
	position: absolute;
	bottom: -1px;
}

section#front-advisory{
	padding: 40px 0 30px; padding: 4rem 0 3rem;
	background: #f3eb58;
}

section#front-advisory .advisory-inner{
	padding-right: 20px;
}

section#front-advisory .company-logo img{
	display: block;
	margin-bottom: 20px;
}

section#front-divider{
	min-height: 100px;
	float: left;
	position: relative;
	background: url(images/geo-bg1.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#front-divider #divider-top{
	position: absolute;
	top: -1px;
}

section#front-divider #divider-bottom{
	position: absolute;
	bottom: -1px;
}

section#front-speaking{
	padding: 30px 0; padding: 3rem 0;
}

section#front-speaking p:first-child::first-letter{
	background: #2e2e2e;
	color:#fff;
	font-size: 32px;
	font-weight:normal;
	font-weight: 300;
	float:left;
	height:45px;
	line-height:1.5;
	line-height:1.5\9;
	*line-height:1.5;
	_line-height:1.5;
	margin:5px 10px 0 0;
	text-align:center;
	width:45px;
}

body.gecko section#front-speaking p:first-child::first-letter{
	padding: 15px;
}

section#front-business{
	position: relative;
	background: url(images/geo-bg2.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

section#front-business h2.section-title{
	border: 1px solid #fff;
}

section#front-business #business-intro-text{
	margin-bottom: 15px;
}

section#front-business .company-inner{
	padding-right: 20px;
}

section#front-business #business-top{
	position: absolute;
	top: -1px;
}

section#front-business a.business-logo{
	display: inline-block;
	margin-bottom: 15px;
}

section#front-business #business-bottom{
	position: absolute;
	bottom: -1px;
}

section#front-misc{
	padding: 40px 0 0; padding: 4rem 0 0;
	background: #5795ab;
	color: #fff;
}

section#front-misc .ten h2 + p:first-letter{
	background: #fff;
	color:#5795aa;
	font-size: 32px;
	font-weight:normal;
	font-weight: 300;
	float:left;
	height:45px;
	line-height:1.5;
	line-height:1.5\9;
	*line-height:1.5;
	_line-height:1.5;
	margin:5px 10px 0 0;
	text-align:center;
	width:45px;
}

body.gecko section#front-misc .ten h2 + p:first-letter{
	padding: 15px;
}

section#front-misc h2.section-title{
	margin-top: 5px;
	border: 1px solid #fff;
}

section#front-misc a:link, section#front-misc a:visited{
	font-weight: bold;
	color: #fff;
}

section#front-misc a:hover, section#front-misc a:focus, section#front-misc a:active{
	text-decoration: underline;
}

section#front-contact{
	position: relative;
	padding: 130px 0 50px; padding: 13rem 0 5rem;
	background: url(images/contact-diagonal.png) no-repeat top center;
}

section#front-contact .contact-person{
	margin: 16px 0;
}

section#front-contact p.contact-email a:link, section#front-contact p.contact-email a:visited{
	font-size: 24px; font-size: 2.4rem;
	font-weight: bold;
	text-decoration: underline;
	color: #2e2e2e;
}

section#front-contact p.contact-email a:hover, section#front-contact p.contact-email a:focus,
section#front-contact p.contact-email a:active{
	color: #6fc8e7;
}

section#front-contact h2#contact-mark{
	margin-top: 30px;
}


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 20px; background: #fff; border: none; position: relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 15px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0 15px 0 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/*! #######################################################################

	MeanMenu 2.0.6
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: #fff;
	padding: 4px 0 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #2e2e2e;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	text-transform: lowercase;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #2e2e2e;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #fff;
	margin-top: 44px;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color: #2e2e2e;
	border-top: 1px solid #ddd;
	text-decoration: none;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #eee;
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 26px;
	padding: 16px 12px 8px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.mean-remove {
	display: none !important;
}




/* #Media Queries
================================================== */
		
	
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	section#front-strapline h1{
		font-size: 24px;
	}
	
	#display-tweet .two{
		margin-bottom: 20px;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

	blockquote, blockquote p{
		font-size: 24px; font-size: 2.4rem;
	}
	
	cite{
		margin-top: 10px;
		line-height: 1.3em;
	}
	
	section#front-intro blockquote{
		position: absolute;
		width: 280px;
		margin-left: -140px;
		left: 50%;
		top: 270px;
		color: #fff;
	}
	
	section#front-intro{
		max-height: 200px;
		background-position: fixed;
		  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
	
	section#front-writer #display-tweet{
		text-align: center;
	}
	
	section#front-writer{
		padding-bottom: 20px; padding-bottom: 2rem;
	}
	
	section#front-advisory{
		padding-top: 30px; padding-top: 3rem;
	}
	
	section#front-advisory .advisory-inner{
		padding-right: 0;
	}
	
	section#front-divider{
		min-height: 6px;
	}
	
	section#front-speaking{
		padding-bottom: 10px; padding-bottom: 1rem;
	}
	
	section#front-business .company-inner{
		padding-right: 0;
	}
	
	section#front-contact{
		padding-top: 110px; padding-top: 11rem;
		padding-bottom: 20px; padding-bottom: 2rem;
	}
	
	section#front-contact p.contact-email a:link, section#front-contact p.contact-email a:visited{
		font-size: 18px;
	}

}



/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) and (max-width : 480px){

	blockquote, blockquote p{
		font-size: 24px; font-size: 2.4rem;
	}
	
	cite{
		margin-top: 10px;
		line-height: 1.3em;
	}
	
	section#front-writer #display-tweet{
		text-align: center;
	}
	
	section#front-writer{
		padding-bottom: 20px; padding-bottom: 2rem;
	}
	
	section#front-writer .flexslider{
		max-width: 300px !important;
	}
	
	section#front-advisory{
		padding-top: 30px; padding-top: 3rem;
	}
	
	section#front-advisory .advisory-inner{
		padding-right: 0;
	}
	
	section#front-advisory .company-logo a{
		display: inline-block;
		width: 300px;
		margin: 0 60px;
	}
	
	section#front-divider{
		min-height: 6px;
	}
	
	section#front-speaking{
		padding-bottom: 10px; padding-bottom: 1rem;
	}
	
	section#front-business .company-inner{
		padding-right: 0;
	}
	
	section#front-contact{
		padding-top: 110px; padding-top: 11rem;
		padding-bottom: 20px; padding-bottom: 2rem;
	}
	
	section#front-contact p.contact-email a:link, section#front-contact p.contact-email a:visited{
		font-size: 18px;
	}

}

/* Smartphones (android) ----------- */
@media only screen
and (min-width : 321px) and (max-width : 360px){

	section#front-advisory .company-logo a{
		display: inline-block;
		width: 300px;
		margin: 0;
	}
	
	section#front-intro blockquote{
		position: absolute;
		width: 320px;
		margin-left: -160px;
		left: 50%;
		top: 270px;
		color: #fff;
	}
}

@media only screen
and (min-width : 361px) and (max-width : 480px){

	section#front-intro blockquote{
		position: absolute;
		width: 360px;
		margin-left: -180px;
		left: 50%;
		top: 270px;
		color: #fff;
	}
	
	section#front-advisory .company-logo a{
		display: inline-block;
		width: 300px;
		margin: 0;
	}
	
}

/* OTHER THINGS ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 767px){

	section#front-strapline h1{
		font-size: 24px;
	}

}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	section#front-strapline h1{
		font-size: 24px;
	}

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* Retina ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

	section#front-divider, section#front-business{
		background-attachment: scroll;
	}

}



/* #HTML5 Boilerplate Print Styles
================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}